.product {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.product-description {
    margin-top: 100px;
}

.product-description h2 {
    font-size: 36px;
}

.tp-img img {
    width: 600px;
    height: 550px;
}
.tp-link{
    color: blue;
}
.customer-review-home {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-gap: 20px; */
}